<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- DUBUG 용 / 디버그 될때마다 콘솔에 띄워줌 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <Pattern> / %d(시간) [%5p](DEBUG/INFO) [%c](org.~~) %m%n</Pattern> -->
			<Pattern>[%5p] [%c] %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- INFO 용 -->
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- 로거 / 언제 어떤 것을 볼 것이냐 -->
	<logger name="board" level="DEBUG" appender-ref="console" />
	<!-- SQL 보여주기 -->
	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
	<!-- 조회 결과를 테이블로 보여주기 -->
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />
	
	<!-- 루트로거 / level를 INFO로 잡으면 INFO 내용만 나옴 -->
	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>
	
</configuration>