<!DOCTYPE html>
<!-- 타임리프 / 레이아웃 : default -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<link href="/css/styles.css" rel="stylesheet" />

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" style="padding: 100px 1px 2px 3px;">

	<div class="container">
		<h2>게시판 상세</h2>
		<form role="form" th:method="POST"
			th:action="'/board/boardUpdate/' + ${board.boardIdx}">
			<table class="table table-hover" style="text-align: center;">
				<colgroup>
					<col width="15%" />
					<col width="35%" />
					<col width="15%" />
					<col width="35%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">글번호</th>
						<td th:text="${board.boardIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.username}"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createDatetime}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td th:unless="${username} == ${board.username}"
							th:text="${board.title}">
						<td colspan="3" th:if="${username} == ${board.username}"><input
							type="text" id="title" name="title" th:value="${board.title}"
							style="width: 100%"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="4" th:unless="${username} == ${board.username}"
							th:text=${board.contents}
							style="width: 100%; height: 250px; text-align: left">
						<td colspan="4" th:if="${username} == ${board.username}"><textarea
								title="내용" id="contents" name="contents"
								th:text=${board.contents} style="width: 100%; height: 250px;"></textarea></td>
					</tr>
				</tbody>
			</table>

			<div style="margin: 10px; padding-bottom: 100px">
				<span th:if="${username} == ${board.username}"> <input
					type="submit" id="submit" value="수정하기"
					class="btn btn-outline-primary" style="margin-right: 10px;">
					<a href="/board/boardDelete/" class="btn btn-outline-primary"
					th:attrappend="href=${board.boardIdx}">삭제하기</a>
				</span> <a  class="btn btn-outline-primary"
					style="float: right;" onclick="window.history.back()">목록으로</a>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	function goBack(){
	window.history.back();
	}
	</script>
</html>
