<!DOCTYPE html>
<!-- 타임리프 / 레이아웃 : default -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<link href="/css/styles.css" rel="stylesheet" />

<!-- index.html 고유 스크립트 추가  -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" style="padding: 100px 1px 2px 3px;">
	<div class="container">
		<h2>게시판 작성</h2>

		<form id="frm" name="frm" method="POST" action="/board/boardInsert">
			<table class="board_detail" style="padding: 10px 10px 10px 10px;">
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"></td>
				</tr>
				<tr>
					<td colspan="2"><textarea id="contents" name="contents"></textarea>
					</td>
				</tr>
			</table>
			<!-- <input type="file" id="files" name="files" multiple="multiple"> -->
			<input type="submit" id="submit" value="저장" class="btn">
		</form>
	</div>
	</div>

</body>
</html>