<!DOCTYPE html>
<!-- 타임리프 / 레이아웃 : default -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<link href="/css/styles.css" rel="stylesheet" />

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" style="padding: 100px 1px 2px 3px;">
	<div class="container" style="">
		<p>
		<h1>마이페이지</h1>
		<form id="frm" name="frm" method="POST"
			th:action="'/user/userUpdate/' + ${user.username}">
			<table style="text-align:center; margin:auto;">
				<tr>
					<th style="letter-spacing:1px">ID</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
						id="username" name="username" th:value="${user.username}"
						disabled='disabled' /></td>
					
				</tr>
				<tr>
					<th style="letter-spacing:1px">password</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="pw"
						name="pw" th:value="${user.pw}" /></td>
				</tr>
				<tr>
					<th style="letter-spacing:1px">name</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="name"
						name="name" th:value="${user.name}" /></td>
				</tr>
				<tr>
					<th style="letter-spacing:1px">E-mail</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
						id="email" name="email" th:value="${user.email}" /></td>
				</tr>
				<tr>
					<th style="letter-spacing:1px">role</th>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="role"
						name="role" th:value="${user.role}" disabled='disabled'/></td>

				</tr>
			</table>
			<div style="margin-top: 30px; padding-bottom: 100px">
				<input type="submit" id="submit" value="수정" class="btn btn-outline-primary" />
				&nbsp;&nbsp;
					<a href="/home/user/return" class="btn btn-outline-primary">취소</a>
				</div>
		</form>
	</div>
</div>
</html>