<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" th:fragment="menuFragment">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Admin Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/login/loginSuccess">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/board/boardList/admin">전체 게시판   </a></li>
					<li class="nav-item"><a class="nav-link" href="/user/userList/admin">사용자 관리   </a></li>
					<!-- <li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Dropdown </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li> -->
				</ul>
				<form class="form-inline my-2 my-lg-0">
<!-- 					<button class="btn btn-outline-primary btn-sm" type="button">
						<a th:href="@{/login/login}" class="text-white">재로그인</a>
					</button>
					&nbsp; -->
					<button class="btn btn-outline-danger btn-sm" type="button">
						<a th:href="@{/login/logout}" class="text-white">로그아웃</a>
					</button>
				</form>

				<!-- <form class="d-flex" method="GET" th:action="@{/user/userList}">
					<input class="form-control me-2" type="search" placeholder="Search"
						id="searchText" name="searchText" aria-label="Search"
						th:value="${param.searchText}">

					<button class="btn btn-light me-2" type="submit">Search</button>
					<form class="form-inline d-flex justify-content-end"></form> -->
			</div>
		</div>
	</nav>


</html>