<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" th:fragment="menuFragment">
            <div class="container">
                <a class="navbar-brand" href="#page-top">User Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				 <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/home/user">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/board/boardList">전체 게시판   </a></li>
					<li class="nav-item"><a class="nav-link" href="/test/mainview">요약   </a></li>
					<li class="nav-item"><a class="nav-link" href="/user/test">맞춤법 검사   </a></li>
					<li class="nav-item"><a class="nav-link" href="/user/userList">마이페이지   </a></li>
					<li class="nav-item"><a class="nav-link" href="/user/test2">도움말</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<button class="btn btn-outline-danger btn-sm" type="button">
						<a th:href="@{/login/logout}" class="text-white">로 그 아 웃</a>
					</button>
				</form>

			</div>
		</div>
	</nav>
</header>

</html>