/* ul.nav {
	display: table;
	width: 100%;
}

font.ul {
	cursor: pointer;
	text-decoration: line-through;
	color: #A8A8A8;
	text-decoration: none;
	border-bottom: 1px solid #97BBF2;
	display: inline-block;
	margin-top: 1.3em;
	position: relative;
	font-weight:bold;
}

font.ul.done {
	color: #000;
}

.ul br {
	display: none;
}

a:link, a:active, a:visited {
	color: #368DCB;
	text-decoration: none;
	cursor: pointer;
}

span.correction {
	color: #DE2E2E;
	color: #919191;
	position: absolute;
	margin-top: -1.2em;
	white-space: nowrap;
}

.blue .correction {
	color: #FF8900;
	color: rgb(255, 137, 0);
	color: #919191;
}

.green .correction {
	color: #DE2E2E;
	color: #919191;
}

.Olive .correction {
	color: #DE2E2E;
	color: #919191;
}

.correction.minor {
	color: #919191;
}

.tdETNor br:first-child {
	display: none;
}

.tdLT {
	border: 0;
	color: #9e9e9e;
	background-color: transparent;
	font-weight: normal;
	padding: 5px;
	text-align: right;
	padding-right: 1em;
	vertical-align: top;
}

.tdETNor {
	border: 0;
	text-align: left;
	line-height: 1.4;
}

.tdBugReport {
	vertical-align: middle;
	text-align: middle;
	background-color: white;
	color: #ACACAC;
	border: 1px solid #eee;
	overflow: hidden;
	overflow-x: hidden;
	margin-bottom: 1.5em;
	font-family: "Apple SD Gothic Neo";
}

.btnBugReport2 {
	margin-top: 5px;
	width: 55px;
	height: 25px;
	margin-left: 3px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	border: 1px solid #b4b4b4;
	background-color: white;
	color: #b4b4b4;
}

.tdUserReplace {
	width: 258px;
	height: 15px;
	font-size: 9pt;
	ime-mode: active;
	resize: none;
	vertical-align: middle;
	text-align: middle;
	background-color: white;
	border: 1px solid #eee;
	overflow: hidden;
	overflow-x: hidden;
	font-family: "Apple SD Gothic Neo";
}

.btnUserReplace {
	width: 55px;
	height: 22px;
	margin-left: 3px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	border: 1px solid #b4b4b4;
	background-color: white;
	color: #b4b4b4;
}

.nav>li {
	text-align: left;
}

.tdErrWord {
	background-color: transparent;
	border: 0;
}

.tdReplace {
	text-align: left;
	border: 0;
}

.tableErrCorrect {
	border: 0;
	border-bottom: 1px solid #C9C9C9;
	margin-bottom: 1em;
}

.tdErrWord li:first-child a {
	font-size: 1.2em;
	color: #333 !important;
	font-weight: normal;
}

.tdReplace li a {
	font-size: 1.2em;
	font-weight: normal;
	color: #DE2E2E;
	color: #000000;
}

.tdReplace.blue li a {
	color: #FF8900;
	color: rgb(255, 137, 0);
	color: #000000;
}

.tdReplace.green li a {
	color: #DE2E2E;
	color: #000000;
}

.tdReplace.Olive li a {
	color: #DE2E2E;
	color: #000000;
}

.ui-loader {
	background-color: rgba(81, 99, 114, 0.9);
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.5);
	color: white;
}

.sp:before {
	content: "˅";
	-webkit-font-size: 2em;
	-webkit-top: -0.4em;
	-webkit-margin-left: -2px;
	-ms-font-size: 16px;
	-ms-top: -11px;
	-ms-margin-left: -1.5px;
	font-size: 2em;
	top: -0.4em;
	margin-left: -2px;
	color: #DE2E2E;
	position: absolute;
}

.tie:before {
	content: "⁀";
	-webkit-font-size: 2em;
	-webkit-top: -0.15em;
	-webkit-margin-left: -0.25em;
	-ms-font-size: 2em;
	-ms-top: -7px;
	-ms-margin-left: -0.25em;
	font-size: 2em;
	top: -0.15em;
	margin-left: -0.25em;
	color: #DE2E2E;
	position: absolute;
}

.puct {
	color: #DE2E2E;
	font-weight: bold;
}

.blue .sp:before, .blue .tie:before, .blue .puct {
	color: rgb(222, 135, 46);
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: inherit;
}

.selectedCand {
	background-color: transparent;
}

.selectedCand a:after {
	content: "←";
	margin-left: 5px;
	display: inline-block;
	color: #FF1C1C;
	font-weight: bold;
}

.inputCandidate {
	width: 90%;
}

td {
	font-family: "NanumBarunGothic", "Apple SD GOthic Neo", "san-serif";
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
	{ WebKit browsers
	color: transparent;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
	Mozilla Firefox 4 to 18
	color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	Mozilla Firefox 19+
	color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
	{ Internet Explorer 10+
	color: transparent;
} */