/* 2011.08.19 황명진 수정 */
/* <link rel="stylesheet" type="text/css" href="speller.css"> */
/* @CHARSET "UTF-8";

p {
	border: 0;
	border-collapse: collapse;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

a.disabledLinkText, a.disabledLinkText:link, a.disabledLinkText:active,
	a.disabledLinkText:visited, a.disabledLinkText:hover {
	color: lightgray;
	text-decoration: none;
	cursor: default;
}

a.linkText {
	margin-right: 10px;
}


a:link, a:active, a:visited {
	color: #3a1e8e;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #CCCC55;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

후보 선택 리엑션
ul.nav {
	display: table;
	width: 100%;
}

.nav {
	margin: 0px;
	margin-left: 0;
	padding-left: 0;
	float: left;
	width: 100%;
	position: relative;
}

.nav>li {
	list-style-type: none;
	display: table-row;
	line-height: 20px;
	text-align: center;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #3a1e8e;
	background-color: #eeeeee;
}

.nav>li>a {
	display: inline;
}

.nav>li>a>input {
	display: none;
}

.selectedCand {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

table {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

tr {
	margin: 0px;
	padding: 0px;
}

td {
	margin: 0px;
	padding: 0px;
	font-family: 굴림;
	font-size: 9pt;
}

div {
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	overflow: hidden;
	float: left;
}

textarea {
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #bcbec0;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	scrollbar-base-color: #ffffff;
	scrollbar-arrow-color: #909090;
	scrollbar-face-color: #d8d8d8;
	scrollbar-track-color: #f3f3f3;
	scrollbar-shadow-color: #d2d2d2;
	scrollbar-highlight-color: #eeeeee;
	scrollbar-darkshadow-color: #d2d2d2;
	scrollbar-3dlight-color: #eeeeee;
}

.ul {
	cursor: pointer;
	text-decoration: underline;
}

.but {
	height: 25px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
}

.tdBox {
	text-align: left;
	vertical-align: middle;
	border: 0;
	border-collapse: collapse;
	padding: 0px 0px 0px 0px;
}
.btnBugReport { width:55px; height:35px; vertical-align:middle; color:white; background-color:#6787E7; font-weight:bold; border:0; margin-left:3px; cursor:pointer; }
.btnBugReport {
	width: 55px;
	height: 30px;
	vertical-align: middle;
	margin-left: 3px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
}

.btnUserReplace {
	width: 55px;
	height: 25px;
	vertical-align: middle;
	margin-left: 3px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
}

.colorR1 {
	background-color: white;
}

.colorR2 {
	background-color: white;
}
.colorAdditionaErr { background-color:LightSkyBlue; text-decoration:underline;}
.colorAdditionaErr {
	color: red;
	text-decoration: underline;
}

.tdMainFrame {
	text-align: left;
	vertical-align: top;
	border: 0;
}

전체 틀
#tableMain { width:850px; height:700px; border:0; padding:0px 0px 0px 0px; background-color:#313994; border-spacing:0px; margin:0px;}
#tableMain {
	width: 850px;
	height: 700px;
	border: 1px solid black;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	margin: 0px;
	background-color: #8b9ab3;
}

#trMain {
	width: 100%;
	border: 0;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	margin: 0px;
}

#tdHead {
	width: 100%;
	height: 36px;
	border: 0;
	padding: 45px 0px 0px 620px;
	border-spacing: 0px;
	margin: 0px;
	border-collapse: collapse;
	background-color: #2e3691;
	background-repeat: no-repeat;
}

#tdBody {
	width: 100%;
	height: 560px;
	border: 0;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	margin: 0px;
	border-collapse: collapse;
	background-color: #f7f7f7;
}

#tdTail {
	width: 100%;
	height: 58px;
	border: 0;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	margin: 0px;
	border-collapse: collapse;
	background-color: #dedede;
}

#btntitleGoHome {
	width: 415px;
	height: 75px;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
}

꼬리
#tableTail {
	width: 100%;
	height: 56px;
	border: 0;
	border-top: 2px solid #8c97b3;
	padding: 0px 0px 0px 0px;
}

#tdLogo {
	width: 200px;
	height: 56px;
	border: 0;
	padding: 0px 0px 0px 0px;
	background-repeat: no-repeat;
	margin: 0px;
}

#tdCopyright {
	width: 350px;
	height: 15px;
	border: 0;
	padding: 0px 0px 3px 0px;
	font-size: 12px;
	vertical-align: bottom;
	color: #5d5f5f;
}

#tdTailMenu {
	width: 280px;
	height: 15px;
	border: 0;
	padding: 0px 0px 3px 0px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
	color: #5d5f5f;
}

#tdTailDesc {
	width: 630px;
	height: 15px;
	border: 0;
	padding: 3px 0px 0px 0px;
	font-size: 12px;
	vertical-align: top;
	color: #5d5f5f;
}

입력 창
#bgInputMenu {
	width: 359px;
	height: 60px;
	position: absolute;
	z-index: 5;
	left: 29px;
	top: 97px;
}

#btnCheck {
	width: 88px;
	height: 44px;
	position: absolute;
	z-index: 10;
	left: 191px;
	top: 105px;
}

#btnRenew {
	width: 88px;
	height: 44px;
	position: absolute;
	z-index: 10;
	left: 286px;
	top: 105px;
}

#divUIChange {
	width: 180px;
	height: 44px;
	position: absolute;
	z-index: 10;
	left: 395px;
	top: 97px;
}

#textUIChange {
	color: blue;
	cursor: pointer;
}

span:hover#textUIChange {
	font-weight: bold;
	color: blueViolet;
}

#textModeChange {
	color: blue;
	cursor: pointer;
}

span:hover#textModeChange {
	font-weight: bold;
	color: blueViolet;
}

#divTextLen {
	width: 88px;
	height: 22px;
	position: absolute;
	z-index: 10;
	left: 395px;
	top: 140px;
}

#btnOldSys {
	width: 180px;
	height: 49px;
	position: absolute;
	z-index: 10;
	left: 644px;
	top: 100px;
}

#tableTitleGoHome {
	width: 415px;
	height: 75px;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
}

#text1 {
	width: 789px;
	height: 437px;
	position: absolute;
	z-index: 1;
	left: 29px;
	top: 163px;
	ime-mode: active;
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #bcbec0;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	scrollbar-base-color: #ffffff;
	scrollbar-arrow-color: #909090;
	scrollbar-face-color: #d8d8d8;
	scrollbar-track-color: #f3f3f3;
	scrollbar-shadow-color: #d2d2d2;
	scrollbar-highlight-color: #eeeeee;
	scrollbar-darkshadow-color: #d2d2d2;
	scrollbar-3dlight-color: #eeeeee;
}

#tableInputDesc {
	width: 790px;
	height: 20px;
	position: absolute;
	z-index: 2;
	left: 30px;
	top: 610px;
}

#tdResultDesc {
	padding: 7px 0px 0px 7px;
	text-align: right;
}

#bgInputMenu	{ width:359px; height:60px; position:absolute; z-index:5; left:466px; top:-570px;}
#btnCheck		{ width:88px; height:44px; position:absolute; z-index:10; left:642px; top:583px;}
#btnRenew		{ width:88px; height:44px; position:absolute; z-index:10; left:737px; top:583px;}
#btnOldSys		{ width:180px; height:49px; position:absolute; z-index:10; left:29px; top:578px;}
#tableTitleGoHome	{ width:415px; height:75px; position:absolute; z-index:100; left:0px; top:0px;}
#text1 
{	width:789px; height:450px; position:absolute; z-index:1; left:29px; top:117px; ime-mode:active;
	background-color:#FFFFFF; color:#333333; 
	border:1px solid #bcbec0;
	padding-left:2px; padding-top:2px; padding-right:2px; 
	scrollbar-arrow-color:#bcbec0;
	scrollbar-face-color:#FFFFFF; 
	scrollbar-track-color:#FFFFFF;
	scrollbar-shadow-color:#bcbec0; 
	scrollbar-highlight-color:#bcbec0; 
	scrollbar-darkshadow-color:#FFFFFF; 
	scrollbar-3dlight-color:#FFFFFF;	 
}
#tableInputDesc	{ width:790px; height:20px; position:absolute; z-index:2; left:30px; top:97px;}
#tdResultDesc	{ padding:7px 0px 0px 7px; text-align:right;}


결과 창
#tableResult {
	width: 830px;
	height: 470px;
	position: absolute;
	z-index: 5;
	left: 13px;
	top: 90px;
	vertical-align: top;
}
#tdResultLTitle1	{ width:394px; height:40px; border:0; padding:0px 0px 0px 0px; }
#tdResultLTitle1 {
	width: 394px;
	height: 31px;
	border: 0;
	padding: 0px 0px 0px 0px;
}

#tdResultRTitle {
	width: 394px;
	height: 31px;
	border: 0;
	padding: 0px 0px 0px 0px;
}
#tdResultLTitle2{ width:394px; height:35px; border:0; padding:0px 0px 0px 0px; }
#tdResultLTitle2 {
	width: 394px;
	height: 15px;
	border: 0;
	padding: 0px 0px 0px 0px;
}

#tdResultLTitle3 {
	width: 394px;
	height: 15px;
	border: 0;
	padding: 0px 0px 0px 0px;
}

#tdForResultLTitle3 {
	width: 387px;
	height: 15px;
	border: 0;
	padding: 0px 0px 0px 0px;
	background-color: #bcbec0;
	vertical-align: middle;
}

#tdResultRenew	{ width:436px; height:40px; border:0;}
#tableLeft1 {
	width: 370px;
	height: 451px;
	border: 0;
	border-collapse: collapse;
	line-height: 1.5;
}

#tableLeft2 {
	width: 370px;
	height: 204px;
	border: 0;
	border-collapse: collapse;
	line-height: 1.5;
}

#btnResultSrc	{ width:69px; height:29px; position:absolute; z-index:2; left:0px; top:11px;}
#bgResultLTitle1 {
	width: 88px;
	height: 31px;
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
}

#bgResultLTitle2 {
	width: 88px;
	height: 31px;
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 270px;
	display: none;
}

#bgResultLTitle3 {
	width: 88px;
	height: 31px;
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 270px;
	display: none;
}

#bgResultRTitle {
	width: 88px;
	height: 31px;
	position: absolute;
	z-index: -1;
	left: 401px;
	top: 0px;
}
#btnResultRenew	{ width:108px; height:35px; position:absolute; z-index:2; left:353px; top:0px;}
#btnResultRenew	{ width:108px; height:20px; position:absolute; z-index:2; left:353px; top:-1000px;}

#tableResultDesc{ width:790px; height:20px; position:absolute; z-index:10; left:10px; top:610px;}
#tableButton	{ width:390px; height:20px; position:absolute; z-index:10; left:220px; top:620px; text-align:center; font-weight:bold; }
#tableButton {
	width: 800px;
	height: 50px;
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 590px;
	font-weight: bold;
	text-align: center;
}

#pResultLTitle1 {
	float: right;
}

#pResultLTitle2 {
	float: right;
}

#pResultLTitle3 {
	float: right;
	margin-right: 20px;
}

#pResultRTitle {
	text-align: left;
}

#divLeft1 {
	width: 385px;
	height: 449px;
	border: 1px solid #bcbec0;
}

#divLeft2 {
	width: 385px;
	height: 204px;
	border: 1px solid #bcbec0;
}

#divRight {
	width: 427px;
	height: 464px;
	border: 0px; border:1px solid #bcbec0;
}

.tdCorrectionTableStyle {
	border: 0px;
}

.tdCorrectionTableHidden {
	border: 0px;
	width: 0px;
}

.divCorrectionTableBoxStyle {
	width: 427px;
	height: 464px;
	background-color: white;
	border: 1px solid #bcbec0;
}

.divCorrectionTableBoxStyleHidden {
	overflow: hidden;
	border: 0px;
}

.divScrollbarStyle {
	overflow: auto;
	overflow-x: hidden;
	scrollbar-base-color: #ffffff;
	scrollbar-arrow-color: #909090;
	scrollbar-face-color: #d8d8d8;
	scrollbar-track-color: #f3f3f3;
	scrollbar-shadow-color: #d2d2d2;
	scrollbar-highlight-color: #eeeeee;
	scrollbar-darkshadow-color: #d2d2d2;
	scrollbar-3dlight-color: #eeeeee;
}

#innerCorrectionTable { border='0' cellpadding='0' cellspacing='0' bordercolorlight='#008685' bordercolordark='white' width='411' height='480' }


팝업
#divClosePopup {
	position: absolute;
	z-index: 110;
	left: 500px;
	top: -120px;
	visibility: hidden;
}
#btnCloseHelp	{ position:absolute; z-index:2; left:800px; top:120px;}

#divPopupBackground	{  position:absolute; z-index:100; left:0px; top:0px; width:850px; height:700px; background-color:black; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); opacity:0.3; -moz-opacity:0.3; visibility: hidden; }
#divPopupBackground {
	position: absolute;
	z-index: 102;
	left: 0px;
	top: 0px;
	width: 850px;
	height: 700px;
	background-color: black;
	-ms-filter: alpha(opacity = 0);
	filter: alpha(opacity = 0);
	opacity: 0.0;
	-moz-opacity: 0.0;
	visibility: hidden;
}

#framePopup {
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	border: 0px;
	background-color: #F9F9F9;
	padding: 0px 0px 0px 0px;
	z-index: 102;
	top: -1000px;
}

iframe.noScrolling {
	overflow: hidden;
}

#imgPopup {
	position: absolute;
	visibility: hidden;
	border: 0px;
	z-index: 101;
	top: -1000px;
}

#imgLoading {
	position: absolute;
	visibility: hidden;
	border: 0px;
	z-index: 101;
	top: -1000px;
}


숨은 영역
#ifHidden, #correctionTable, #correctionTableSize, #bufUnderline,
	#correctionTable2, #bufUnderline2, #correctionTable2Size,
	#bufHiddenInputStr, #bufText2 {
	position: absolute;
	visibility: show;
	z-index: -100;
	top: -1000px;
}

왼쪽
#divLeftMain {
	width: 390px;
}

#divLeftHead {
	width: 390px;
	height: 63px;
}

#imgLeftHead {
	width: 390px;
	height: 63px;
}

#divLeftBody {
	width: 390px;
	height: 512px;
}

#tableLeftBody {
	width: 390px;
	height: 100%;
	border: 0;
	padding: 0px 0px 0px 0px;
}

#tdBigTitle2 {
	width: 390px;
	height: 20px;
	border: 0;
	text-align: center;
	color: white;
	font-size: 11pt;
	background-color: #6787E7;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}

#tdBigTitle3 {
	width: 390px;
	height: 20px;
	border: 0;
	text-align: center;
	color: white;
	font-size: 11pt;
	background-color: #6787E7;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}

#tdCorrection1stBox {
	background-color: white;
	padding: 4px;
}

#tdCorrectionNstBox {
	background-color: white;
}

#tdMsgNst {
	height: 30px;
	vertical-align: bottom;
}

#tableBottom {
	width: 390px;
	height: 10px;
	text-align: right;
	vertical-align: top;
	border: 1px solid darkgray darkgray darkgray darkgray;
	background-color: lightgray;
}

가운데
#divCenterMain {
	width: 1px;
}

오른쪽
#divRightMain {
	width: 425px;
}

#divRightHead {
	width: 390px;
	height: 63px;
	vertical-align: middle;
}

#tableCorrectionTableBox {
	width: 420px;
	height: 505px;
	border: 1px;
	padding: 0px 0px 0px 0px;
}

#tdCorrectionTableBox {
	text-align: center;
}

#divRightBottom {
	width: 390px;
	height: 50px;
	vertical-align: middle;
}

교정 표
.tableErrCorrectHead {
	width: 405px;
	border: 0px;
}

.tableErrCorrect {
	width: 403px;
	border-color: #008685 white white white;
}

.tdLT {
	width: 60px;
	border: 1px solid #4b7891;
	text-align: center;
	color: white;
	background-color: #81aad7;
	font-weight: bold;
	font-size: 8pt;
	padding: 3px 0px 3px 0px;
}

.tdErrWord {
	text-align: center;
	background-color: #e4ddee;
	font-weight: bold;
	border: 1px solid #4b7891;
	padding: 0px;
}
.tdErrWord	{ text-align:center; background-color:#e4ddee; font-weight:bold; border:1px solid #4b7891; padding:5px 0px 5px 0px;}
.tdReplace {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #4b7891;
	border-right: 1px solid #4b7891;
	padding: 0px;
}
.tdReplace	{ text-align:center; font-weight:bold; border-bottom:1px solid #4b7891; border-right:1px solid #4b7891; padding:5px 0px 5px 0px;}
.tdETNor {
	border-bottom: 1px solid #4b7891;
	border-right: 1px solid #4b7891;
	padding: 5px 0px 5px 0px;
}

.tdBugReport {
	width: 258px;
	height: 30px;
	font-family: 굴림;
	font-size: 9pt;
	vertical-align: middle;
	text-align: middle;
	background-color: #e9ecf1;
	border: 1px solid #93a0be;
	overflow: hidden;
	overflow-x: hidden;
	ime-mode: active;
}

.inputCandidate {
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 9pt;
	color: black;
	text-align: center;
	padding: 3px 0px 2px 0px;
	margin: 0px;
	border: 0px;
}

.btnShowUserInput {
	float: right; width:12px;
}

.btnHideUserInput {
	display: none;
}

.liUserInputCandidate {
	display: none;
}

#btnOrgCopy {
	float: left;
	margin: 0px;
	padding: 0px;
}

#btnResCopy {
	float: left;
	margin: 0px;
	padding: 0px;
} */